.answer-add {
  clear: both;
  margin: 20px -20px -20px;
  padding: 20px;
  background: #46be8a;
  position: fixed;
  bottom: 20px;
  left: 405px;
  width: calc(100vw - 402px);
}

.answer-add input {
  border: none;
  background: none;
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  color: #ffffff;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.answer-add .answer-btn-1 {
  background: url("http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/icon-40.png") 50% 50% no-repeat;
  right: 56px;
}

.answer-add .answer-btn {
  display: block;
  cursor: pointer;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 50%;
  margin-top: -18px;
}

.answer-add .answer-btn-2 {
  background: url("http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/icon-41.png") 50% 50% no-repeat;
  right: 20px;
}

input::-webkit-input-placeholder {
  color: #fff;
}

input:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

input::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}

input:-ms-input-placeholder {
  color: #fff;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}
